body {
    display: flex;
    flex-direction: column;

    overflow: hidden;

    min-height: 100vh;
    background-image: url('../images/background/fon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}

.header-container {
    display: flex;
    justify-content: space-between;

    padding: 20px 80px;
}

.header-title {
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.header-title:hover {
    transition: color 0.5s;
    color: #01813F;
    cursor: pointer;
}

.header-menu {
    display: flex;
}

.header-images:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.90);
    margin-right: 25px;
}

.header-image {
    margin-right: 25px;
}

/*.header-image:hover {*/
/*    fill: #01813F;*/
/*    cursor: pointer;*/
/*}*/

.header-subtitle-text {
    display: flex;

    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    align-items: center;
}

.mod-text-1:hover {
    transition: color 0.5s ease;
    color: #01813F;
    cursor: pointer;
}

.mod-text-2:hover {
    transition: color 0.5s ease;
    color: #01813F;
    cursor: pointer;
}

.subtitle-text-first {
    width: 108px;
}

.subtitle-text-second {
    width: 68px;
}

.main {
    display: flex;
    align-items: center;
    margin: auto;

    position: relative;
}

.main-container {
    width: 445px;
    height: 585px;
    flex-shrink: 0;

    background-color: #fff;
}

.main-header {
    display: flex;
    justify-content: space-between;

    padding: 30px 0 15px 0;
}

.main-title {
    color: #434343;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;

    width: 69px;
    height: 14px;
}

.green-cube {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    top: 30px;
}

.main-title-log {
    color: #3CB878;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;

    width: 39px;
    height: 14px;

    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.3s ease;
}

.main-title-log:hover {
    border-bottom-color: #01813F;
    color: #01813F;
}

.google-btn,
.facebook-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 3px;

    width: 160px;
    height: 50px;

    background-repeat: no-repeat;
    background-position: 12px center;

    cursor: pointer;;

    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.facebook-btn {
    background-color: #305DB8;
    background-image: url("../images/social-media-logo/facebook.svg");
}

.google-btn {
    background-color: #DF4A32;
    background-image: url("../images/social-media-logo/google.svg");
    margin-left: 5px;
}

.social-links {
    display: flex;
    justify-content: center;
    max-height: 50px;
}

.google-btn:before,
.facebook-btn:before {
    content: "";
    width: 1px;
    height: 28px;
    flex-shrink: 0;
    opacity: 0.1;
    background: #2B0D09;
}

.facebook-btn:before  {
    margin: 0 18px;
}

.google-btn:before {
    margin: 0 30px;
}

.main-subtitle {
    margin: 30px auto 12px auto;

    width: 15px;
    height: 14px;

    color: #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.container {
    margin: 0 auto;

    max-width: 325px;
    width: 100%;

    max-height: 585px;
    height: 100%;
}

.input-container {
    margin: 3px 0 12px 0;
    border-radius: 4px;
}

.input-item {
    width: 100%;
    height: 14px;
    padding: 15px 0 15px 20px;

    color: #434343;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    border: none;
    outline: none;
}

.input-item:focus {
    fill: #FFF;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}

.checkbox-label {
    user-select: none;
}

.checkbox-label a {
    color: #3CB878;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.checkbox-label a:hover {
    cursor: pointer;
    text-underline: #3CB878;
}

.custom-checkbox {
    display: flex;
    align-items: center;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox + .checkbox-label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.checkbox + .checkbox-label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(217, 217, 217, 0.2);
    background-color: #fff;
}

.checkbox:checked + .checkbox-label:before {
    background-image: url("../images/checkbox/checkbox.svg");
}

.terms-link {
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.3s ease;
}

.terms-link:hover {
    border-bottom-color: #3CB878;
}

.form-btn {
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;

    width: 100%;
    height: 45px;
    padding: 16px 0;
    margin-top: 20px;
    border: none;

    background-color: rgba(60, 184, 120, 0.80);
    border-radius: 4px;
}

.form-btn:hover {
    transition: background-color 0.5s;
    background-color: #01813F;
}
